- const siteTitle = 'Bitcoin Donation Portal'
- const siteDescription = 'Support bitcoin developers so they can focus on building our future'
- const siteKeywords = 'Bitcoin,Contributors,Donations,Funding,Lightning Network'
- const repoUrl = 'https://github.com/dennisreimann/bitcoindevlist.com'
- const editUrl = `${repoUrl}/edit/master/donatees`
- const shuffle = arr => { for (let i = arr.length - 1; i > 0; i--) { const j = Math.floor(Math.random() * i); const temp = arr[i]; arr[i] = arr[j]; arr[j] = temp; }; return arr }

block vars

- const pageTitle = title ? `${title} · ${siteTitle}` : siteTitle
- const pageDescription = description || siteDescription
- const pageKeywords = keywords || siteKeywords

mixin donatee(d, trunc = true)
  .donatee(id=d.id)&attributes(attributes)
    img.avatar(src=d.avatar alt=d.name)
    h3.name
      a(href=`/${d.id}/`)= d.name
    .center
      if d.description
        .description
          - const [desc, truncated] = trunc ? truncate(d.description, 26) : [d.description, false]
          - const description = truncated ? `${desc} [[…&nbsp;more]](/${d.id}/)` : desc
          != renderMarkdown(description)
      if d.tags
        .tags
          each tag in d.tags
            a.tag(href=`/tag/${slugify(tag)}`)= tag
    if d.twitter || d.github || d.gitlab
      .social
        if d.twitter
          a.twitter(href=`https://twitter.com/${d.twitter}` target="_blank") Twitter
        if d.gitlab
          a.gitlab(href=`https://gitlab.com/${d.gitlab}` target="_blank") GitLab
        else if d.github
          a.github(href=`https://github.com/${d.github}` target="_blank") GitHub
    .foot
      if d.donate
        a.cta(href=d.donate)
          = `Donate to ${d.name.split(' ')[0]}`
          if d.lightning
            span.ln= "⚡️"

mixin donatees(list)
  ul.donatees&attributes(attributes)
    each d in shuffle(list)
      li: +donatee(d)

<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    meta(name="viewport" content="width=device-width,initial-scale=1")
    meta(name="keywords" content=pageKeywords)
    meta(name="description" content=pageDescription)
    meta(property="twitter:card" content="summary")
    meta(property="twitter:title" content=pageTitle)
    meta(property="twitter:description" content=pageDescription)
    meta(property="twitter:image" content="https://bitcoindevlist.com/card.png")
    link(rel="apple-touch-icon" sizes="180x180" href="/bitcoin.svg")
    link(rel="icon" type="image/png" sizes="32x32" href="/bitcoin.svg")
    link(rel="icon" type="image/png" sizes="16x16" href="/bitcoin.svg")
    link(rel="stylesheet" href="/index.css")
    link(rel="manifest" href="/site.webmanifest")
    title= pageTitle
  body
    header.header
      .wrap
        .inner
          a(href="/")
            img.logo(src="/bitcoin.svg")
          div
            h1= siteTitle
            h2= siteDescription
    main.main
      .wrap
        .intro
          p
            | This website lists people working on Bitcoin and related projects.
            | The goal is to increase the visibility of contributors to the space that are accepting donations.
            | If you are currently working on a bitcoin related open source project, submit a PR to
            = " "
            a(href=editUrl) get yourself added
            | .
          p
            | Being listed on this site should not be considered an endorsement. The order individuals are shown is randomized every visit.

        block main

        script.
          const shuffle = arr => { for (let i = arr.length - 1; i > 0; i--) { const j = Math.floor(Math.random() * i); const temp = arr[i]; arr[i] = arr[j]; arr[j] = temp; }; return arr }
          const lists = document.querySelectorAll('.donatees')
          lists.forEach(list => {
            const donatees = Array.from(list.querySelectorAll('li'))
            list.innerHTML = ""
            shuffle(donatees).forEach(li => list.appendChild(li))
          })

    footer.footer
      .wrap
        p
          | Brought to you by
          = " "
          a(href="https://twitter.com/matt_odell") Matt
          = " and "
          a(href="https://twitter.com/dennisreimann") Dennis
          = "."
        p
          | Contribute on
          = " "
          a(href=repoUrl) GitHub
          = " or "
          a(href=editUrl) add yourself to the list
          = "."
