- const siteTitle = 'Bitcoin Donation Portal'
- const siteDescription = 'Support bitcoin developers so they can focus on building our future'
- const siteKeywords = 'Bitcoin,Contributors,Donations,Funding,Lightning Network'
- const repoUrl = 'https://github.com/dennisreimann/bitcoindevlist.com'
- const editUrl = `${repoUrl}/edit/master/donatees`
- const shuffle = arr => { for (let i = arr.length - 1; i > 0; i--) { const j = Math.floor(Math.random() * i); const temp = arr[i]; arr[i] = arr[j]; arr[j] = temp; }; return arr }

block vars

- const pageTitle = title ? `${title} · ${siteTitle}` : siteTitle
- const pageDescription = description || siteDescription
- const pageKeywords = keywords || siteKeywords
- const cardImageUrl = cardImage || assetUrl("/img/card.png")

include /mixins.pug

<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    meta(name="viewport" content="width=device-width,initial-scale=1")
    meta(name="keywords" content=pageKeywords)
    meta(name="description" content=pageDescription)
    meta(property="twitter:card" content="summary")
    meta(property="twitter:title" content=pageTitle)
    meta(property="twitter:description" content=pageDescription)
    meta(property="twitter:image" content=cardImageUrl)
    link(rel="apple-touch-icon" sizes="180x180" href=assetPath("/img/bitcoin.svg"))
    link(rel="icon" type="image/png" sizes="32x32" href=assetPath("/img/bitcoin.svg"))
    link(rel="icon" type="image/png" sizes="16x16" href=assetPath("/img/bitcoin.svg"))
    link(rel="stylesheet" href=assetPath("/index.css"))
    link(rel="manifest" href="/site.webmanifest")
    title= pageTitle
    style.
      .avatar { background-image: url(#{assetPath("/img/avatar.svg")}); }
  body
    header.header
      .wrap
        .inner
          a(href="/")
            img.logo(src=assetPath("/img/bitcoin.svg"))
          div
            h1= siteTitle
            h2= siteDescription
    main.main
      .wrap
        block main

    footer.footer
      .wrap
        p
          | Brought to you by
          = " "
          a(href="https://twitter.com/matt_odell") Matt
          = " and "
          a(href="https://twitter.com/_d11n_") Dennis
          = "."
        p
          | Contribute on
          = " "
          a(href=repoUrl) GitHub
          = " or "
          a(href=editUrl) add yourself to the list
          = "."

      script(src=assetPath("/index.js"))
