- const title = 'Bitcoin Donation Portal'
- const description = 'Support bitcoin developers so they can focus on building our future'
- const shuffle = arr => { for (let i = arr.length - 1; i > 0; i--) { const j = Math.floor(Math.random() * i); const temp = arr[i]; arr[i] = arr[j]; arr[j] = temp; }; return arr }
- const donatees = shuffle(siteData.donatees) // randomize order

<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    meta(name="viewport" content="width=device-width,initial-scale=1")
    meta(name="keywords" content="Bitcoin,Contributors,Donations,Funding,Lightning Network")
    meta(name="description" content=description)
    meta(property="twitter:card" content="summary")
    meta(property="twitter:title" content=title)
    meta(property="twitter:description" content=description)
    meta(property="twitter:image" content="https://bitcoindevlist.com/card.png")
    link(rel="apple-touch-icon" sizes="180x180" href="./bitcoin.svg")
    link(rel="icon" type="image/png" sizes="32x32" href="./bitcoin.svg")
    link(rel="icon" type="image/png" sizes="16x16" href="./bitcoin.svg")
    link(rel="stylesheet" href="./index.css")
    link(rel="manifest" href="/site.webmanifest")
    title= title
  body
    header.header
      .wrap
        .inner
          img.logo(src="./bitcoin.svg")
          div
            h1= title
            h2= description
    main.main
      .wrap
        .intro
          p
            | This website lists people working on Bitcoin and related projects.
            | The goal is to increase the visibility of contributors to the space that are accepting donations.
            | If you are currently working on a bitcoin related open source project, submit a PR to
            = " "
            a(href="https://github.com/dennisreimann/bitcoin-donations/edit/master/data.js") get yourself added
            | .
          p
            | Being listed on this site should not be considered an endorsement. The order individuals are shown is randomized every visit
        ul.donatees
          each d in donatees
            li
              img.avatar(src=d.avatar alt=d.name)
              .top
                h3.name= d.name
                if d.twitter
                  a.twitter(href=`https://twitter.com/${d.twitter}`) Twitter
                if d.github
                  a.github(href=`https://github.com/${d.github}`) GitHub
              if d.donate
                a.cta(href=d.donate)
                  = `Donate to ${d.name.split(' ')[0]}`
                  if d.lightning
                    span.ln= "⚡️"
              if d.description
                .description!= renderMarkdown(d.description)
          script.
            // randomize order
            function shuffle (arr) {
              for (let i = arr.length - 1; i > 0; i--) {
                const j = Math.floor(Math.random() * i)
                const temp = arr[i]
                arr[i] = arr[j]
                arr[j] = temp
              }
              return arr
            }
            const list = document.querySelector('.donatees')
            const donatees = Array.from(list.querySelectorAll('li'))
            list.innerHTML = ""
            shuffle(donatees).forEach(li => list.appendChild(li))
    footer.footer
      .wrap
        p
          | Brought to you by
          = " "
          a(href="https://twitter.com/matt_odell") Matt
          = " and "
          a(href="https://twitter.com/dennisreimann") Dennis
          = "."
        p
          | Contribute on
          = " "
          a(href="https://github.com/dennisreimann/bitcoin-donations") GitHub
          = " or "
          a(href="https://github.com/dennisreimann/bitcoin-donations/edit/master/data.js") add yourself to the list
          = "."
